<ion-content class="ion-padding">
  <div class="nav-botones">
    <ion-button fill="clear" [routerLink]="['/perfil']">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-icon src="assets/icon/person.svg"></ion-icon>
      <span>Perfil</span>
    </ion-button>
  </div>

  <div class="header-info">
    <h2>Hola Susana!</h2>
    <p>{{ fechaHoy }}</p>
    <p class="mensaje-alerta">Tienes mensajes sin leer!</p>
  </div>

  <div class="grid-botones">
    <ion-button expand="block" color="light" [routerLink]="['/calendario']">
      <div class="boton-contenido">
        <ion-icon src="assets/icon/alarm.svg"></ion-icon>
        <span>Horarios medicamentos y calendario</span>
      </div>
    </ion-button>

    <ion-button expand="block" color="light" [routerLink]="['/contacto-medico']">
      <div class="boton-contenido">
        <ion-icon src="assets/icon/people.svg"></ion-icon>
        <span>Contactar médico</span>
      </div>
    </ion-button>

    <ion-button expand="block" color="light" [routerLink]="['/contacto-familia']">
      <div class="boton-contenido">
        <ion-icon src="assets/icon/people-circle.svg"></ion-icon>
        <span>Contactar familiar</span>
      </div>
    </ion-button>

    <ion-button expand="block" color="light" [routerLink]="['/compra-medicamento']">
      <div class="boton-contenido">
        <ion-icon src="assets/icon/medical.svg"></ion-icon>
        <span>Comprar medicamentos</span>
      </div>
    </ion-button>
  </div>

  <ion-button expand="block" color="danger" class="boton-sos" (click)="enviarSOS()">
    SOS
  </ion-button>
</ion-content>